*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

.header{
background: black;
height:80vh;
padding:2%
}

.images{
    display: flex;
    justify-content: space-between;
}

.greeting{
    color:white;
    padding:2%;
    margin-top: 200px;
}

.greeting h1 {
    font-size: 20px;
}

